@media screen and (max-width:640px) {
    .row1,
    .row2{
        width: 100% !important;
    }
    .dashboard{
        margin: 0 2rem !important;
        padding-top: 3rem !important;
    }
    nav{
        position: static !important;
    }
}


